*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #fcf5e9;
    --container-normal: 1200px;
    --container-large: 1400px;
    --container-small: 800px;
    --dark-color:#333;
    
}



/*utility class */
.bg-primary{
    background:  var(--primary-color);
    color: #333;
}

.bg-dark{
    background: var(--dark-color);
    color: white;
}

.bg-dark .bg-primary{
    padding: 0 .3rem;
}

.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background:transparent;
    text-align: center;
    font-size:inherit;
    font-family:inherit;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover{
        background-color: var(--dark-color);
        color: var(--primary-color);
    }
}

.visually-hidden{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;    
    width: 1px;
}


body{
    font-family: 'Open Sans', sans-serif;
    line-height:  1.6;
} 

a{
    text-decoration : none;
    color: darkgray;

}

ul{
    list-style-type: none;
}
img{
    max-width:100%;

}


.section-heading{
 font-size: 1.6rem;
 text-align: center;
    margin-bottom : 40px;
}

/*Container*/
.container{
    max-width:var(--container-normal);
    margin: 0 auto;
    padding:0 1.5rem;

}

.container-lg{
    max-width:var(--container-large);

}

.container-sm{
    max-width: var(--container-small);
}

/*header*/
header{
    margin: 1.5rem auto;
}
header .logo{
    width: 120px;

}
header .header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

header .main-menu{
    display: flex;
    gap : 1rem;

    a{
        padding: 0.5rem 1rem ;

        &:hover{
            background-color: var(--primary-color);
        }
       
    }
    
}

.current{
            font-weight: 600;
            background-color: var(--primary-color);
}

.hero{
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero h2{
    font-size: 3rem;
    line-height: 1.4;
    font-weight: normal;
}


/*gallery*/
.gallery-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:20px;

}

.gallery-item{
    width:  calc(33.33% - 20px);
   
}

.gallery-item img{
     border-radius: 10px;
     &:hover{
        opacity: 0.8;
     }
}


/*footer*/

.footer{

    border-top: 1px solid #aaa;
    padding: 2rem 1.5rem;
    margin-top: 2rem;
    h4{
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    a{
        margin: 0.2rem;

    }
}

.footer .footer-flex{

    display: flex;
    justify-content: space-between ;
align-items: center;
}

.footer img{

    width: 120px;
    height: 40px;
}

/*Services*/
.services{
    padding: 3rem 0 4rem;
}

.services-flex{
    display: flex;
    gap :2rem;
   
    .service-item{
        font-size: 1.1rem;
        margin-bottom: .8rem;
    }
}
 

/*Team*/
.team{
    padding: 3rem 0 4rem;
}

.team-flex{
    display: flex;
    gap: 1.4rem;

}
/*contact*/

.contact{
    
    padding: 3rem 0 4rem;
}
.contact p{
    text-align: center;
    margin-bottom: 2rem;
}

.form-group{
    margin:2rem 0 ;
}

.contact input, .contact textarea{
    border:none;
    border-bottom: 1px solid #aaa;
    width: 100%;
    font-family:inherit;
    font-size: inherit;
    padding-bottom: 0.5rem;

    &:focus{
        outline: 0;
       
    }

}


.contact textarea{
    height: 150px;
}

.contact button{
width: 100%;
}
@media(max-width:768px){
    header .header-flex , .footer .footer-flex,.services .services-flex,.team-flex{
        flex-direction: column;
        gap : 1.4rem;
        
    }
    .footer-flex{
        text-align: center;
    }
    .hero{

        height: 150px;
        h2{

            font-size: 1.8rem;
        }
    }

    .gallery-item{
        width: calc(50% - 20px);
    }
}
